body {

    * {
        max-width: 100vw;
    }
}

h1 {
    font-family: $header-font;
    text-transform: $text-transform;
    color: white;
}

h2{
    font-family: $header-font;
    text-transform: $text-transform;
    font-size: $sub-header-font-size;
    font-weight: $font-weight;
    color: white;
    text-align: center;
}

h3  {
    font-family: $header-font;
    font-size: $sub-header-font-size;
    font-weight: $font-weight;
    color: map-get($colors, body-header);
    text-align: center;
}

p{
    font-family: $txt-font;
    text-align: center;
    line-height: $line-height;
}

header {
    position: absolute;
    z-index: 9998;
    display: flex;
    width: 100vw;
    height: 71px;
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    background-color: #2d2d2dcf;
    max-height: 90px;

    #top-logo img {
        width: 6.5rem;
        margin: 0.8rem 0 0.8rem 1rem;
        max-height: 42px;
    }

}

