.menu-toggle {
    margin-right: 0.8rem;
    border: none;
    background-color: transparent;
}

#nav-wrapper {
    position: absolute;
    top: 71px;
    z-index: 9999;
    width: 100vw;
    height: 128px;
    overflow: hidden;
    height: 1px;
    transition: height $animation-menu;

    &.openNav {
        height: 128px;
    }

    #head-nav-list {
        position: absolute;
        // top: 71px;
        z-index: 9999;
        overflow: hidden;
        width: 100vw;
        transition:$animation-menu;
        transform: translateY(-100%);
        background-color: #2d2d2dcf;
    
        #nav-ul {
            // display: none;
            a {
                text-decoration: none;
                color: #ffffff;
                font-family: $header-font;
                font-size: 2rem;
            }
        }
        
        .menu-toggle {
            margin-right: 0.8rem;
            border: none;
            background-color: transparent;
        }
    
        &.openMenu {
            transform: translateY(0);
        }
    }
}