.menu-toggle {
    margin-right: 0.8rem;
    border: none;
    background-color: transparent;
}

#head-nav-list {
    position: absolute;
    // top: 71px;
    z-index: 9999;
    border: 1px solid red;
    overflow: hidden;
    width: 100vw;
    transition: 1s;

    #nav-ul {
        // display: none;
    }
    
    .menu-toggle {
        margin-right: 0.8rem;
        border: none;
        background-color: transparent;
    }

    &.openMenu {
    }
}

.nav-wrapper {
    border: solid blue;
    position: absolute;
    top: 71px;
    z-index: 9999;
    width: 100vw;
}