#carouselExampleIndicators {

    img {
        height: 34.5rem;
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }

    li {
        border-radius: 50%;
    }
}

