.about{
    position: relative;
        
        &.bg {
        background-image: url('../images/bg-section-about-us.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        padding: 10rem $large-space;

        @media (min-width: $breakpoint-tablet){
            padding: 8rem $large-space;
        }   
    }

.header-text {
    line-height: $large-space;
    position: relative;
    
    @media (min-width: 103.75rem) {
        display: block;  
    }   

    h2 {
        padding-bottom: $medium-space;

        @media (min-width: $breakpoint-tablet){
            font-size: $header-line-height;
            line-height: 2.7rem;
        }

        @media (min-width: $breakpoint-desktop){
            word-wrap: break-word;
            max-width: 35rem;
            padding-bottom: $large-space*2;
            
        }
        @media (min-width: 103.75rem) {
            display: block;
            margin: 0 auto;
        }
    }


    p {
        color: white;
        padding-bottom:$large-space;

        @media (min-width: $breakpoint-tablet) {
            word-wrap: break-word;
            max-width: 29rem;
            padding-bottom: $large-space*2;
        }

        @media (min-width: $breakpoint-desktop) {
            word-wrap: break-word;
            max-width: 50rem;
            padding-bottom: $large-space*2;
        }

        @media (min-width: 88.75rem) {
            max-width: 65rem;
            margin: 0 auto;
        }
    }

}

    .styled-button {
        padding: 0.2rem $medium-space;
        margin: $small-space;
        position: absolute;
        bottom: -30%;

        @media (min-width: $breakpoint-desktop) {
            padding: 0.1rem 3rem;
        }

        @media (min-width: 103.75rem) {
            margin: 0;
            position: absolute;
            top: 116%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

}

.video {
    background-color: map-get($colors , secondary-body-bg );
    padding: $extra-large-space;
    
    @media (min-width: $breakpoint-tablet) {
        padding: $extra-large-space $small-space*5;
    }

    @media (min-width: $breakpoint-desktop) {
        padding: $large-space $extra-large-space*4;
    }

    .banner {
        position: relative;
        overflow: hidden;
        width: $img-full;
        // padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        padding-top: 61.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        background-color: green;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 58.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: $img-full;
            height: $img-full;
            border: map-get($colors , body-bg ) 1rem solid;
        }
    }      
   
}
