// Div that contains the bottom third styling
#contact {

    // First div that has the email sign up form
    div:nth-child(1) {
        padding: 1.2rem 0;
        text-align: center;
        background-color: map-get($colors, third-body-bg);


        p {
            font-size: $font-size;
            font-family: $header-font;
            padding-bottom: $tiny-space;
            color: map-get($colors, body-bg);

            @media(min-width:$breakpoint-tablet){
                display: inline;
            }
        }

        form {
            padding: $small-space/2;

            @media(min-width:$breakpoint-tablet){
                display: inline;
            }


            input[type='email'] {
                padding: .25rem;
                border: none;
                width: 65%;
                height: 2.1rem;

                @media(min-width:$breakpoint-tablet){
                    margin: 0 0.5rem;
                    height: 1.8rem;
                    width: 40%;
                }

                @media(min-width:$breakpoint-desktop){
                    width: 25%;
                }
            }

            // Styling for placeholder text
            ::placeholder{
                font-family: $txt-font;
                padding: 4%;
                font-size:10px;

                @media(min-width:$breakpoint-tablet){
                    font-size: 14px;
                }
            }

            input[type='submit'] {
                @include mobile-submit-button;

                @media(min-width:$breakpoint-tablet){
                    font-size: $font-size;
                    padding: 0.4rem 0.85rem;
                }
            }
        }
    }

    // Second div with the map background and link
    div:nth-child(2){
        position: relative;

            @media(min-width:$breakpoint-tablet){
            width:50%;
            order:2;
            float: right;
            }

        img {
            height: 37vh;
            width: 100vw;
            object-fit: cover;

            @media(min-width:$breakpoint-tablet){
                width: 100%;
            }
        }

        h3 {
            @include center-text;
            top:45%;
            text-align: center;
            z-index: 2;
            width: 15rem;
            color: map-get($colors, body-header);
            text-transform: uppercase;

            @media(min-width:$breakpoint-desktop){
                top: 34%;
                left: 50%;
            }

            span {
                display: block;
            }
        }

        a {
            @include center-text;
            font-family: $txt-font;
            top: 64%;
            display: block;
            text-align: center;
            color:map-get($colors, body-header);
            border: 1px solid map-get($colors, body-header);
            font-weight: $font-weight;
            text-decoration: none;
            text-transform: uppercase;
            width: 10.25rem;
            font-size: $font-footer-size;
            padding: $tiny-space;

            @media(min-width:$breakpoint-tablet) {
                @include tablet-submit-button;
                top:62%;
            }
            @media(min-width:$breakpoint-desktop){
                left: 50%;
                top:70%;
            }
        }
    }

    section {
        text-transform: uppercase;
        padding: $medium-space 0 0;
        background-color: map-get($colors, body-bg);
        color:white;
        text-align: center;
        position: relative;
        padding-bottom: $extra-large-space*1.5;

        @media(min-width:$breakpoint-tablet) {
            width: 50%;
            order:1;
        }

        h2 {
            font-weight: bold;
            line-height: $header-line-height;
            padding: $large-space 0;
            margin: 0 auto;
            width: 22.75rem;
            overflow-wrap: break-word;
            
            span{
                display: block;
            }
            
            @media(min-width:$breakpoint-tablet) {
                padding: 1.5rem 0;
            }

            @media(min-width:$breakpoint-desktop) {
                    padding: 2.5rem 0;
                    margin: 0.625rem auto;
                span:nth-child(1){
                    display: none;
                }
            }  
        }

        a {
            @include styled-button;
            
            @media(min-width:$breakpoint-tablet){
                @include tablet-submit-button;
            }
        }

        .wave{
            @include wave-styling-mobile;
            background-position: 20% 101%;
            position: absolute;
            width: 100vw;
            top: 270px;
            height: 4rem;
            background-image: url(../images/wave-blue-light.png);

            @media (min-width: $breakpoint-tablet) {
                @include wave-styling-tablet;
                top:257px;
                height: 60px;
            }

            @media(min-width: $breakpoint-tablet) {
                @include wave-styling-tablet;
                height:80px;
            }
        }
    }
}

// Footer styles
footer {
    // Reset margins, give display flex 
    @include margin-reset-0;

    font-family: $txt-font;
    font-size: $font-footer-size-2;
    background-color: map-get($colors, secondary-body-bg);
    color: white;
    text-align: center;
    text-transform: uppercase;

    @media(min-width:$breakpoint-tablet){
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.2rem 2rem;
        margin-top:-13px;
    }

    @media(min-width:$breakpoint-desktop){
        justify-content: space-between;
        align-items: center;
    }

    #symb-logo {
        width: 35%;
        padding: 1rem 0;

        @media(min-width: $breakpoint-tablet) {
            margin: 0 4rem;
            width:20%;
        }
        @media(min-width: $breakpoint-desktop){
            padding-top:3rem;
            max-width: 15%;
            margin-right: 15%;
        }

        @media(min-width: 1250px) {
            margin-right: 28%;
        }
        @media(min-width: 1500px){
            padding-top:4rem;
            margin-right: 31%;
        }
        @media(min-width:1920px){
            margin-right: 47%;
        }
    }

    // Div within the footer that has divs which has social media and phone number
    // Given flex row align items center
    #footer-wrapper {
        @include flex-layout-row;
        flex-wrap: nowrap;

        //footer-wrapper media query
        @media(min-width: $breakpoint-desktop){
            padding-top:3rem;
        }
        @media(min-width: 1500px){
            padding-top:4rem;
        }

        div {
            width: 100%;

            @media(min-width:$breakpoint-tablet) {
                max-width: 12.2rem;
            }

            // facebook and linkedin icon images
            .icon{
                max-width: 18%;

                @media(min-width:$breakpoint-tablet){
                    max-width: 20%;
                    margin: 0 0.2rem;
                }
            }

            i {
                background-color: white;
                color: map-get($colors, secondary-body-bg);
                border-radius: 50%;
                padding: .25rem;
                margin: 0 .05rem;
            }
        }

    }

    p {
        line-height: $line-height * 2;
        padding-bottom: $tiny-space;

        @media(min-width:$breakpoint-tablet){
            flex: 0 0 100%;
            text-align: right;
            padding: 0 6rem 2rem 0;
            line-height: 0;
            margin: -10px 0;
        }
        @media(min-width:$breakpoint-desktop) {
            @include margin-reset-0;
            flex: 1;
            text-align: initial;
            padding-top:3rem;
        }
        @media(min-width: 1500px){
            padding-top:4rem;
        }
    }
}