//wasn't in the reset, but can feel free to delete this when it is included
img, video, iframe {
    max-width: $img-full;
    height: auto;
}

// Div that contains the bottom third styling
#contact{

    // First div that has the email sign up form
    div:nth-child(1) {
        padding: 1.2rem 0;
        text-align: center;
        background-color: map-get($colors, third-body-bg);


        h3{
            font-size: $font-size;
            font-family: $header-font;
            padding-bottom: $small-space;
            font-weight: normal;
            color: map-get($colors, body-bg)
        }

        form{
            padding: $small-space/2;


            input[type='email'] {
                padding: .25rem;
                border: none;
                width: 65%;
            }
            // Styling for placeholder text
            ::placeholder{
                padding: 2%;
                font-size:10px;
            }

            input[type='submit'] {
                outline: none;
                border: none;
                background-color: map-get($colors, secondary-body-bg);
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                padding: .25rem .55rem;
            }
        }
    }
    // Second div with the map background and link
    div:nth-child(2){
        position: relative;

        img {
            height: 35vh;
            object-fit: cover;
        }
        h3 {
            @include center-text;
            text-align: center;
            z-index: 2;
            width: 10.625rem;
            // transform: translate(30%, 207%);
            color: map-get($colors, input-txt);
            // position: absolute;
            font-weight: $font-weight;
            text-transform: uppercase;
        }
        a {
            @include center-text;
            top: 67%;
            display: block;
            text-align: center;
            font-size: $font-size;
            color:map-get($colors, input-txt);
            border: 2px solid map-get($colors, input-txt);
            font-weight: $font-weight;
            text-decoration: none;
            text-transform: uppercase;
            width: 11.25rem;
            font-size: $font-footer-size;
            padding: $tiny-space;
        }
    }
    section {
        text-transform: uppercase;
        padding: $medium-space 0;
        background-color: map-get($colors, body-bg);
        color:white;
        text-align: center;
        padding-bottom: $large-space*2;

        h2{
            font-weight: bolder;
            line-height: $header-line-height;
            padding: 2rem;
            margin: 0 auto;
            width: 22.75rem;
        }
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid white;
            padding: 0.5rem;
        }
    }
    .wave{
        position: absolute;
        z-index: 3;
        transform: translate(0%,-70%);
    }
}
// Footer styles
footer{
    // Reset margins, give display flex column
    @include margin-reset-0;
    @include flex-column;

    padding: 0.7rem;
    font-size: $font-footer-size;

    background-color: map-get($colors, secondary-body-bg);
    // background-image: url(../images/wave-blue-light.png);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;

    #symb-logo{
        width: 35%;
        padding: 1rem 0;
    }

    // Div within the footer that has social media and phone number
    // Given flex row align items center
    div{
        @include flex-layout-row;
        justify-content: space-evenly;

        // facebook and linkedin icon images
        .icon{
            width: 8%;
        }
        i {
            background-color: white;
            color: map-get($colors, secondary-body-bg);
            border-radius: 50%;
            padding: .25rem;
        }
    }
    p{
        line-height: $line-height * 2;
    }
}