.wave {
    background-image: url('../images/wave-blue-dark.png');
    background-size: 220%;
    background-position: 20% 100%;
    background-repeat: no-repeat, no-repeat;
    height: 8rem;
}
.products {
    padding: $small-space/2;
    background-color: map-get($colors, body-bg );
    
    .title-text {
        border-bottom: 1px white solid;
        padding: $small-space;
    }

    h3 {
        color: white;
        font-family: $txt-font;
        font-weight: normal;
        font-size: $sub3-header-font-size;
        padding: $small-space;
    }

    .form-group {
        padding: $medium-space;
        
        .field-wrapper {

            label {
                font-family: $header-font;
                font-weight: $font-weight;
                text-align: left;
                padding: $medium-space 0 $small-space/2 0;
                color: red;
                font-size: $sub2-header-font-size;
            }
        
            #product-type {
            border: 0;
            background-color: red;
            // background-color: map-get($colors: input-color);
            display: block;
            width: 100%;
            font-size: 2rem;
            color: map-get($colors: input-txt);
            // height: 3rem;
            //     content: "";
            //     width: 0.8em;
            //     height: 0.5em;
            //     background-color: var(--select-arrow);
            //     clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            }
        }
    
    }

    
}





