.wave {
    background-image: url('../images/wave-blue-dark.png');
    @include wave-styling-mobile;
    height: 3rem;
    display: block;

    @media (min-width: $breakpoint-mobile){
        @include wave-styling-tablet;
    }
}
.products {
    padding: $small-space;
    background-color: map-get($colors, body-bg );
  
    .title-text {
        border-bottom: 1px white solid;
        padding: $small-space;
        

        h2 {
            font-size: $sub-header2-font-size;
            color: red;
      
        }
        p {
            color: white;
            font-family: $txt-font;
            font-weight: normal;
            font-size: $font-size;
            padding: $small-space;
        }
    }

    .form-group {
        padding-bottom: 6rem;
        position: relative;
        
        .field-wrapper {
            label {
                font-family: $header-font;
                font-weight: $font-weight;
                text-align: left;
                padding: $large-space 0 $small-space/2 0;
                color: white;
                font-size: $sub3-header-font-size;
            }
        
            select {
            border: 0;
            background-color: map-get($colors, input-color );
            display: block;
            width: 100%;
            max-width: 100%;
            font-size: $sub3-header-font-size;
            font-family: $txt-font;
            color: map-get($colors, input-txt);
            padding: 1rem 1rem;
            appearance: none;
            // arrow styling
            background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bopacity:0.79;%7D.cls-2%7Bfill:%23646464;fill-rule:evenodd;%7D%3C/style%3E%3C/defs%3E%3Cg class='cls-1'%3E%3Cpolygon class='cls-2' points='0 0 5 5 10 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
            background-position: right 15px center;
            background-repeat: no-repeat;
            background-size: auto 18%;
            // disable default appearance
            outline: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            &::-ms-expand { display: none };
           
            &:hover {
                background-color: map-get($colors, input-color2 );
            }
            }             
           
        }
        input[type='submit'] {
            font-family: $txt-font;
            font-size: $sub3-header-font-size;
            outline: none;
            border: none;
            background-color: map-get($colors, secondary-body-bg);
            color: white;
            text-transform: uppercase;
            text-align: center;  
            position: absolute;
            max-width: 100%;
            width:100%;
            padding: 1.1rem 4rem; 
            //additional styling
            position: absolute;
            top: 0;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
   
}





