// fonts
$header-font: 'Roboto Condensed', Arial, "Helvetica Neue", Helvetica, sans-serif;
$txt-font:'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
$header-font-size: 1.8rem;
$sub-header-font-size: 2rem;
$sub2-header-font-size: 1.4rem;
$sub3-header-font-size: 1.2rem;
$line-height: 1.3rem;
$header-line-height: 2.2rem;
$font-size: 1rem;
$font-footer-size: 0.75rem;
$font-footer-size-2: 0.7rem;
$font-weight: bold;
$text-transform: uppercase;

// colours
$colors: (
    body-bg: #244963,
    secondary-body-bg:#429bd6,
    third-body-bg: #bedcef,
    body-header: #555555,
    input-color: #bbbbbb,
    input-color2: #edeeee,
    input-txt: #646464,
    hover-color: #9ae0ec,
    wrapper-bg-color: #fff,
    header-grey: #585858,
);

//media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//utility variables
$img-full: 100%;

//spacing to use with margin or padding 
$tiny-space: 0.6rem;
$small-space: 1rem;
$medium-space: 1.5rem;
$large-space: 2rem;
$extra-large-space: 4rem;
$header-padding: 1rem 1rem 0;

